.img-header {
  float: right;
}

.img-vip {
  width: 64px;
  height: 64px;
  border-radius: 10px;
  margin-right: 10px;
}

.img-icon {
  width: 20%;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-logo {
  width: 170px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.row {
  margin-right: 0 !important;
}

.img-mod {
  list-style: none;
  display: inline-flex;
}

.mod-card {
  border-radius: 0 !important;
}

.card-vip {
  border-color: rgba(33, 33, 33, 0.816) !important;
  margin-top: 10% !important;
}