.img-header {
  float: right;
}

.img-vip {
  width: 64px;
  height: 64px;
  border-radius: 10px;
  margin-right: 10px;
}

.img-icon {
  width: 30%;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-right: 0 !important;
}

.img-mod {
  list-style: none;
  display: inline-flex;
}

.mod-card {
  border-radius: 0 !important;
}

.vip-card {
  border-radius: 5px !important;
}